@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Josefin+Sans&display=swap");
@import "./node_modules/aos/dist/aos.css";

/*Your Custom CSS Goes here*/

h1 {
  @apply text-3xl tracking-tighter mb-3 lg:text-6xl;
}


h2 {
  @apply text-2xl font-bold mb-3;
}

h3 {
  @apply text-xl font-bold mb-3;
}

ul {
  @apply list-disc;
  margin-left: 35px;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

html {
  font-family: "Josefin Sans", sans-serif;
  background-color: #fffce1 !important;
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: proxima-soft, sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  line-height: 1.5;
  margin: 25px 0px;
}

li a.active {
  background-color: #D8A763;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
blockquote{
  text-align: left;
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:3px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}
