---
layout: default
title: Sagolunden | Den lilla förskolan med det stora engagemanget
path: home
---
<div
  class="mx-auto flex flex-col items-center"
>
  <header class="flex flex-col md:flex-row text-center md:text-left container w-full px-16">
    <div class="md:w-1/2 md:m-auto">
      <h1>
        {{ home.subtitle }}
      </h1>
      <p class="container">{{ home.headerDescription | marked | safe }}</p>
      <button class="bg-green-300 hover:bg-green-500 py-2 px-6 rounded-full"><a href="https://cloud.sagolunden.se/apps/forms/xLtCMmZ82od4wEEz">Ansök</a></button>
    </div> 
    <div class="md:w-1/2 m-auto" style="z-index:-1;">
      <img class="m-auto md:w-96 md:-mt-12" height="128px" src="/static/img/illustration.png" />
    </div>

  </header>
  


  <section class="flex-wrap md:flex container center" data-aos="fade-up">
      {% for reason in home.whyPickUs %}
      <div class="w-full text-center md:w-1/3 h-full px-10 md:p-10">
        <h3>
          {{ reason.title }}
        </h3>
        <p>
          {{ reason.desc }}
        </p>
      </div>
      {% endfor %}
  </section>
 
  

  <div class="flex w-full bg-white">
    <div class="flex flex-col items-center container m-auto">
      {% if sections %} {% for section in sections.sections %}
        <div class="block md:flex md:odd:flex-row md:even:flex-row-reverse gap-16 px-12 py-8 md:py-24 w-full m-auto" data-aos="fade-up">
          
          <div class="md:w-1/2 m-auto"><img class="rounded-3xl" src="{{ section.image }}" /></div>
          <div class="md:w-1/2 py-8">
            <div class="container">
              <h3>{{section.title}}</h3>
              <p>{{ section.desc | marked | safe }}</p>
              <button class="bg-green-300 hover:bg-green-500 py-2 px-6 rounded-full"><a >Läs mer</a></button>
            </div>
          </div>
        </a>
      </div>
      {% endfor %} {% endif %}
    </div>
  </div> 

</div>
