---
layout: default
title: Sagolunden | Den lilla förskolan med det stora engagemanget
path: home
---
<div
  class="mx-auto flex flex-col items-center"
>
  <header class="flex flex-row container w-full py-32 px-16">
    <div class="w-1/2">
      <h1>
        {{ home.subtitle }}
      </h1>
      <p class="container">{{ home.headerDescription | marked | safe }}</p>
      <button class="bg-green-300 hover:bg-green-500 py-2 px-6 rounded-full">Ansök</button>
    </div> 
    <div class="w-1/2" style="z-index:-1;">
      <img style="margin:-200px auto;height:800px" src="/static/img/illustration.png" />
    </div>

  </header>
  


  <section class="flex container center" data-aos="fade-up">
      {% for reason in home.whyPickUs %}
      <div class="h-full p-10">
        <h3>
          {{ reason.title }}
        </h3>
        <p>
          {{ reason.desc }}
        </p>
      </div>
      {% endfor %}
  </section>
 
  

  <div class="flex w-full bg-white">
    <div class="flex flex-col items-center container m-auto">
      {% if sections %} {% for section in sections.sections %}
        <div class="flex odd:flex-row even:flex-row-reverse gap-16 px-12 py-24  w-full m-auto" data-aos="fade-up">
          <div class="w-1/2">
            <div class="container">
              <h3>{{section.title}}</h3>
              <p>{{ section.desc | marked | safe }}</p>
            </div>
          </div>
          <div class="w-1/2"><img class="rounded-3xl" src="{{ section.image }}" /></div>
        </a>
      </div>
      {% endfor %} {% endif %}
    </div>
  </div> 

</div>
